<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/index.css" />
		<title><%= title %></title>
	</head>
	<body>
		<div class="main">
			<h1><%= title %></h1>
			<ul class="list-container">
				<% list.forEach(item => { %>
				<li class="list">
					<div class="list-description"><%= item.description %></div>
					<a href="<%= item.link %>" target="_BLANK"><%= item.link %></a>
				</li>
				<% }) %>
			</ul>
		</div>
	</body>
</html>
