<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../assets/index.css" />
		<title><%= title %> | EveryFollow.com</title>
		<%- include('ga') %>
	</head>
	<body>
		<div class="main">
			<h1><%= title %></h1>
			<ul class="list-container">
				<% list.forEach(item => { %>
				<li class="list">
					<div class="list-description"><%= item.description %></div>
					<a href="<%= item.link %>" target="_BLANK"><%= item.link %></a>
				</li>
				<% }) %>
			</ul>
			
			<footer class="footer">Made with 
				<a href="//everyfollow.com" target="_blank" class="footer-link">everyfollow.com</a> 
				make yours now free forever
			</footer>
		</div>
	</body>
</html>
